<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="btn-wrapper">
              <img class="btn btn-info btn-icon mb-6 mb-sm-6" src="./assets/img/brand/logo2.png" style="width: 400px;" class="img-fluid">
            </div>
            <div class="col-lg-6">
              <p class="lead  text-white">Para que comprar, si hay tantos que necessitan un hogar...</p>
              <div class="btn-wrapper">
                <a class="btn btn-info btn-icon mb-3 mb-sm-0" [routerLink]="['/register']">
                  <span class="btn-inner--icon">
                    <i class="fa fa-id-card"></i>
                  </span>
                  <span class="btn-inner--text" >Agregar Publicacion</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div>
                    <img src="./assets/img/adopcion/Blue2.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 300px;">
                  </div>
                  <h6 class="text-primary text-uppercase">Blue en adopcion</h6>
                  <p class="description mt-3">Blue fue rescatado en el monumeto en palpala a los meses de nacido, problemas en la patita tracera, se
                    trata con media pastilla x dia. Es miedoso, fieolento pero cariñoso.</p>
                  <div>
                    <span class="badge badge-pill badge-primary">Hobbie: Dormir y comer</span>
                    <span class="badge badge-pill badge-primary">Raza: Caniche toy</span>
                    <span class="badge badge-pill badge-primary">Edad: 8 años</span>
                    <span class="badge badge-pill badge-primary">Sexo: Macho</span>
                    <span class="badge badge-pill badge-primary">Esterilizado: Si</span>
                    <span class="badge badge-pill badge-primary">Fecha publicacion: 20/05/2020</span>
                    <span class="badge badge-pill badge-primary">Contacto: 3884757110</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div>
                    <img src="./assets/img/adopcion/Eva.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 300px;">
                  </div>
                  <h6 class="text-success text-uppercase">Eva en adopcion</h6>
                  <p class="description mt-3">Fue rescatada a un mes de vida, encontrada en una casa con sus hermanitos abandonados solo quedo ella.
                    Es cariñosa y bien adiestrada.</p>
                  <div>
                    <span class="badge badge-pill badge-success">Hobbie: Jugar</span>
                    <span class="badge badge-pill badge-success">Raza: Cruza de caniche y coker</span>
                    <span class="badge badge-pill badge-success">Edad: 1 año</span>
                    <span class="badge badge-pill badge-success">Sexo: Hembra</span>
                    <span class="badge badge-pill badge-success">Esterilizado: si</span>
                    <span class="badge badge-pill badge-success">Fecha publicacion: 21/05/2020</span>
                    <span class="badge badge-pill badge-success">Contacto: 3884726013</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div>
                    <img src="./assets/img/adopcion/Fede.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 300px;">
                  </div>

                  <h6 class="text-warning text-uppercase">Fede en Adopcion</h6>
                  <p class="description mt-3">Fue rescatado en malas condiciones, pelado con sarna y sin poder caminar, actualmente se encuentra con
                    hernia de disco y pico de loro en su columna parte baja.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">Hobbie: Jugar</span>
                    <span class="badge badge-pill badge-warning">Raza: Cruza de fox terrear</span>
                    <span class="badge badge-pill badge-warning">Edad: 7 año</span>
                    <span class="badge badge-pill badge-warning">Sexo: Macho</span>
                    <span class="badge badge-pill badge-warning">Esterilizado: No</span>
                    <span class="badge badge-pill badge-warning">Fecha publicacion: 22/05/2020</span>
                    <span class="badge badge-pill badge-warning">Contacto: 3885624230</span>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div>
                    <img src="./assets/img/adopcion/Elo.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 300px; height: 350px;">
                  </div>
                  <h6 class="text-success text-uppercase">Elo</h6>
                  <p class="description mt-3">Elo es jugetona y cariñosa, le gusta salir a la plaza y correr mucho. Esta adiestrada y cuenta con todas
                    las vacunas.</p>
                  <div>
                    <span class="badge badge-pill badge-success">Hobbie: Jugar</span>
                    <span class="badge badge-pill badge-success">Raza: Cruza de doberman</span>
                    <span class="badge badge-pill badge-success">Edad: 3 año</span>
                    <span class="badge badge-pill badge-success">Sexo: Hembra</span>
                    <span class="badge badge-pill badge-success">Esterilizado: si</span>
                    <span class="badge badge-pill badge-success">Fecha publicacion: 22/05/2020</span>
                    <span class="badge badge-pill badge-success">Contacto: 3884965243</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div>
                    <img src="./assets/img/adopcion/Aquiles.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 300px; height: 350px;">
                  </div>
                  <h6 class="text-warning text-uppercase">Aquiles</h6>
                  <p class="description mt-3">Es un perro guardian, le encata el aire libre y dormir, perro cazador, conoce los limites.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">Hobbie: Dormir</span>
                    <span class="badge badge-pill badge-warning">Raza: Cruza de bower</span>
                    <span class="badge badge-pill badge-warning">Edad: 5 año</span>
                    <span class="badge badge-pill badge-warning">Sexo: Macho</span>
                    <span class="badge badge-pill badge-warning">Esterilizado: No</span>
                    <span class="badge badge-pill badge-warning">Fecha publicacion: 23/05/2020</span>
                    <span class="badge badge-pill badge-warning">Contacto: 3884966352</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>