 <section class="section-profile-cover section-shaped my-0">
  <div class="shape shape-style-1 shape-primary alpha-4">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">

    </svg>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="card card-profile shadow mt--300">
      <div class="px-4">
        <div class="text-center mt-12">
          <div class="col-lg-12">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5 row">
                <div class="col-5">
                  <img src="./assets/img/adopcion/Blue2.jpg" alt="Raised image" class="img-fluid rounded shadow-lg" style="width: 250px;">
                </div>
                <div class="col-7">
                  <h1>Donato</h1>
                  <div class="row">
                    <div class="col-6">
                      <h5 style="float: left;">Raza: Caniche </h5>
                      <h5 style="float: left;">Nacimiento: 28/11/2012</h5>
                    </div>
                    <div class="col-6">
                      <h5 style="float: left;">Sexo: Macho</h5>
                      <h5 style="float: left;">Esterilizado: Si</h5>
                    </div>
                  </div>
                  <h3>Propetario: Reynaga Matias</h3>
                  <div>
                    <h5 style="float: left;">Domicilio: Coronel Aereas 354</h5>
                    <h5 style="float: left;">E-mail: reynagam96@gmail.com</h5>
                    <h5 style="float: left;">Telefono: 38847571105</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="mt-5 py-5 border-top text-center ">
          <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="fa fa-eyedropper mr-2"></i> Vacunas
              </ng-template>
              <ng-template ngbTabContent>
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Fecha</th>
                      <th scope="col">Marca/serie</th>
                      <th scope="col">Detalle</th>
                      <th scope="col">Proxima</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>15/03/2020</th>
                      <td>VVM 1508/7</td>
                      <td>Parvovirus</td>
                      <td>15/03/2021</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr>
                      <th>10/03/2020</th>
                      <td>VR 1642/4</td>
                      <td>Distemper</td>
                      <td>10/09/2020</td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="fa fa-heartbeat mr-2"></i> Historial
              </ng-template>
              <ng-template ngbTabContent>
                <div class="col-lg-12">
                  <div>
                  <button type="button" class="btn btn-primary " (click)="open(classic2, 'Notification', '')" style="float: right;">Nueva Ficha</button>
                </div>
                  <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <i class="fa fa-pencil-square mr-2"></i> Ficha
                      </ng-template>
                      <ng-template ngbTabContent>
                        <div class="left">
                          <p class="description" align="left">Fecha: 03/06/2020</p>
                          <p class="description" align="left">Peso: 6,800</p>
                          <p class="description" align="left">Temperatura: 39</p>
                          <p class="description" align="left">Diagnostico: Gastroesterintis</p>
                          <p class="description" align="left">Tratamiento: Amoxilina cada 8hs</p>
                          <p class="description" align="left">Proximo control: - </p>
                        </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle>
                        <i class="fa fa-file-image-o mr-2"></i> Estudios
                      </ng-template>
                      <ng-template ngbTabContent>
                        <p class="description">Podrias intentar darle arroz con bife de pollo</p>
                      </ng-template>
                    </ngb-tab>
                  </ngb-tabset>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="fa fa-pencil-square mr-2"></i> Consultas Online
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <small class="text-uppercase font-weight-bold">Pregunta realizada el 25/04/2020</small>
                    </div>
                    <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <i class="fa fa-pencil-square mr-2"></i> Pregunta
                        </ng-template>
                        <ng-template ngbTabContent>
                          <p class="description">Donato no quiere comer su alimento, que puedo hacer?</p>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <i class="fa fa-pencil-square-o mr-2"></i> Respuesta
                        </ng-template>
                        <ng-template ngbTabContent>
                          <p class="description">Podrias intentar darle arroz con bife de pollo</p>
                        </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
                  </div>

                  <div class="col-lg-6">
                    <div class="mb-3">
                      <small class="text-uppercase font-weight-bold">Pregunta realizada el 23/04/2020</small>
                    </div>
                    <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <i class="fa fa-pencil-square mr-2"></i> Pregunta
                        </ng-template>
                        <ng-template ngbTabContent>
                          <p class="description">Es normal que donato no quiera tomar agua?</p>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <i class="fa fa-pencil-square-o mr-2"></i> Respuesta
                        </ng-template>
                        <ng-template ngbTabContent>
                          <p class="description">Despues de una cirugia es normal que el perro no tenga ganas de comer o tomar agua, solo se va
                            a animar, no te preocupes... </p>
                        </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>


        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <ng-template #classic2 let-c="close" let-d="dismiss">
      <div class="modal-content bg-gradient-danger">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-notification">Nueva Ficha</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div>
          <form role="form">
            <div>
              <div class="form-group col-12" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Peso" type="email" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group col-12" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Temperatura" type="email" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group col-12" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Diagnostico" type="email" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group col-12" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <input class="form-control" placeholder="Tratamiento" type="email" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group col-12" [ngClass]="{'focused':focus===true}">
                <small style="color: white">Proximo turno</small>
                <div class="input-group input-group-alternative">
                  <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="06/06/2020">
                </div>
              </div>
              <div class="form-group col-12" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class=" text-muted ">
                    <small style="color: white">Estudios</small>
                  </div>

                </div>
                <input ng2FileSelect type="file" accept=".xml"  />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white">Agregar</button>
          <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
        </div>
      </div>
    </ng-template>
  </div>
</section>

